/* Login and Registration */
.login-box{
  border: 14px solid $primary;
  border-radius:24px;
  max-width:550px;
  text-align:center;

}

//.login-box button, .login-box input, .login-box label{
//  width:330px;
//  max-width:96%;
//  margin: 0 auto;
//}

.login-box {
  button,  input,  label{
    width:330px;
    max-width:96%;
    margin: 0 auto;
  }

}

.login-box label{
  text-align:left;
}

.login-box button{

  border-radius: 22px;
  font-size: 20px;
  height:54px;
}

.login-box h4{
  color:$primary-dark;
}

.pages-info{


    margin-top: 58px;
}

.register-info{
  background: $primary-light;
  color:#fff;

  margin-top: 58px;

  padding: 10px 0;
  position:relative;
  text-align:center;

  ul{

    list-style: none;
    text-align: left;
    padding-left: 0px;
    margin: 30px 0;
  }

  li{
    text-decoration: none;
    font-size:0.7rem;
  }

  i {
    display: inline-block;
    background: green;
    border-radius: 50%;
    margin: 2px 10px 2px 0;
    padding: 5px;
  }

  p { font-size: 0.6rem}

  .register-points-list{
    width:550px;
    max-width:96%;
    margin: 0 auto;

  }

  .intro-heading{
    //font-size: 20px;
    font-weight: 700;
    //line-height: 20px;
    margin-bottom: 5px;

  }


}

.register-bar{
  background: $primary;
  height: 30px;
  margin-top:2px;
  padding:0;
}

.register-form{
  text-align:center;
  color:#8c8c8c;
  h2{
    font-size:1.2em;

  }

  .btn-info{
    margin:15px 0;
    width: 500px;
    max-width:90%;
    border-radius: 15px;
    background: $primary-light;
  }

  .btn-info-new{
    margin:15px 0;
    max-width:90%;
    border-radius: 15px;
    background: $primary-light;
    color:#fff;
  }

  .date-day{
    display:inline;
    max-width: 24%;
  }

  .date-month, .date-year{
    display:inline;
    max-width: 32%;
  }

  .section-bar{
    background:$primary-light;
    color:#fff;
    width:100%;
    margin:12px auto;
    padding:10px 0
  }
}


#cookie-message {
  display: none;
  text-align: center;
  background: #80bfff;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#cookie-message span{
  color: #ffc;
}


#cookie-message p{
  margin: 10px 0;
  color: #e6e6ff;
  font-size:80%;
}

@media (min-width:576px){
  .register-info{
    margin-top:86px;

    }
}


@media (min-width:768px){

  .pages-info{


    margin-top: 86px;
  }
  .register-form{

    h2{
      font-size:2rem;

    }
  }

  #cookie-message p{

    font-size:100%;
  }

  .section-bar{

    width:800px;
    max-width:80%;
    margin:12px auto;

  }

  .register-info{
    .intro-heading{
      font-size: 60px;

      line-height: 60px;

    }

    i {

      font-size: 100%;

    }

    li{
      text-decoration: none;
      font-size:1rem;
    }

    p { font-size: 1rem}
  }

}


/* Login and Registration | END */

.social-section .close{
  color:#4d4dff;
  font-size:2rem;
}
