/*
header.masthead-default {
    background: linear-gradient(transparent,rgba(0,0,0,.5)),url(../img/home_splash/lady_laptop_1080h.jpg) center no-repeat;
    background-size: cover;
}
 */
// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  //background-image: url('../img/header-bg.jpg');
  background: linear-gradient(rgba(255, 255, 255,.5),rgba(255, 255, 255,.5)),url(../img/background/tablet-1.jpg) center no-repeat;
  padding-bottom: 10px;
  //position:relative;
  top:64px;

  @include background-cover;
  .intro-text {
    padding-top: 80px;
    padding-bottom: 10px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.6rem;
      margin-bottom: 5px;
      @include heading-font;
    }

    .intro-heading-sub {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.4rem;
      margin-bottom: 5px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    margin-top:83px;
    .intro-text {
      padding-top: 60px;
      padding-bottom: 40px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        //margin-bottom: 50px;
        @include heading-font;
      }

      .intro-heading-sub {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        //margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
