// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$knowso-grey: #f2f2f2 !default; // new - March 2018 for knowso with blue lettering.

$black: #000 !default;

$primary: #0080ff !default; /* blue - Added by Colin*/
$primary-dark: #004d99 !default; /* darker blue - Added by Colin*/
$primary-light: #80bfff !default; /* lighter blue - Added by Colin*/
//$primary: #fed136 !default;
