/* blue - Added by Colin*/
/* darker blue - Added by Colin*/
/* lighter blue - Added by Colin*/
body {
  overflow-x: hidden;
  font-family: 'Sarala', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #0080ff;
}

a:hover {
  color: #0066cc;
}

.text-primary {
  color: #0080ff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 15px 0;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding-top: 30px;
  }
}

.btn {
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #0080ff;
  border-color: #0080ff;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #006dd9 !important;
  border-color: #006dd9 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #0080ff;
  text-shadow: none;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Colin's additions: Feb 2018 */
ul.social-buttons-blue li {
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #0073e6;
}

#mainNav {
  /*background-color: #f2f2f2;*/
  background-color: rgba(242, 242, 242, 0.5);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #0080ff;
  margin: 4px 0;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #0080ff;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #0066cc;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 600;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #004d99;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #0080ff;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/*
header.masthead-default {
    background: linear-gradient(transparent,rgba(0,0,0,.5)),url(../img/home_splash/lady_laptop_1080h.jpg) center no-repeat;
    background-size: cover;
}
 */
header.masthead {
  text-align: center;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/background/tablet-1.jpg) center no-repeat;
  padding-bottom: 10px;
  top: 64px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 80px;
  padding-bottom: 10px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 5px;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading-sub {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  margin-bottom: 5px;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead {
    margin-top: 83px;
  }
  header.masthead .intro-text {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading-sub {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(0, 128, 255, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #0080ff;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #0080ff;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks a {
  text-shadow: 1.7px 1px #f5e5ac;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #0080ff;
}

/* New - March 2018 by Colin */
/* Login and Registration */
.login-box {
  border: 14px solid #0080ff;
  border-radius: 24px;
  max-width: 550px;
  text-align: center;
}

.login-box button, .login-box input, .login-box label {
  width: 330px;
  max-width: 96%;
  margin: 0 auto;
}

.login-box label {
  text-align: left;
}

.login-box button {
  border-radius: 22px;
  font-size: 20px;
  height: 54px;
}

.login-box h4 {
  color: #004d99;
}

.pages-info {
  margin-top: 58px;
}

.register-info {
  background: #80bfff;
  color: #fff;
  margin-top: 58px;
  padding: 10px 0;
  position: relative;
  text-align: center;
}

.register-info ul {
  list-style: none;
  text-align: left;
  padding-left: 0px;
  margin: 30px 0;
}

.register-info li {
  text-decoration: none;
  font-size: 0.7rem;
}

.register-info i {
  display: inline-block;
  background: green;
  border-radius: 50%;
  margin: 2px 10px 2px 0;
  padding: 5px;
}

.register-info p {
  font-size: 0.6rem;
}

.register-info .register-points-list {
  width: 550px;
  max-width: 96%;
  margin: 0 auto;
}

.register-info .intro-heading {
  font-weight: 700;
  margin-bottom: 5px;
}

.register-bar {
  background: #0080ff;
  height: 30px;
  margin-top: 2px;
  padding: 0;
}

.register-form {
  text-align: center;
  color: #8c8c8c;
}

.register-form h2 {
  font-size: 1.2em;
}

.register-form .btn-info {
  margin: 15px 0;
  width: 500px;
  max-width: 90%;
  border-radius: 15px;
  background: #80bfff;
}

.register-form .btn-info-new {
  margin: 15px 0;
  max-width: 90%;
  border-radius: 15px;
  background: #80bfff;
  color: #fff;
}

.register-form .date-day {
  display: inline;
  max-width: 24%;
}

.register-form .date-month, .register-form .date-year {
  display: inline;
  max-width: 32%;
}

.register-form .section-bar {
  background: #80bfff;
  color: #fff;
  width: 100%;
  margin: 12px auto;
  padding: 10px 0;
}

#cookie-message {
  display: none;
  text-align: center;
  background: #80bfff;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#cookie-message span {
  color: #ffc;
}

#cookie-message p {
  margin: 10px 0;
  color: #e6e6ff;
  font-size: 80%;
}

@media (min-width: 576px) {
  .register-info {
    margin-top: 86px;
  }
}

@media (min-width: 768px) {
  .pages-info {
    margin-top: 86px;
  }
  .register-form h2 {
    font-size: 2rem;
  }
  #cookie-message p {
    font-size: 100%;
  }
  .section-bar {
    width: 800px;
    max-width: 80%;
    margin: 12px auto;
  }
  .register-info .intro-heading {
    font-size: 60px;
    line-height: 60px;
  }
  .register-info i {
    font-size: 100%;
  }
  .register-info li {
    text-decoration: none;
    font-size: 1rem;
  }
  .register-info p {
    font-size: 1rem;
  }
}

/* Login and Registration | END */
.social-section .close {
  color: #4d4dff;
  font-size: 2rem;
}

button.no-hover{
  border: 1px solid!important;
  border-radius: 8px!important;
  border-color: #e76d0c #e15500 #e15500!important;
  text-shadow: rgba(0,0,0,.05) 0 1px 0!important;
  box-shadow: inset 0 0.5px 0 hsla(0,0%,100%,.2)!important;
}

button.no-hover,
button.no-hover:hover,
button.no-hover:active,
button.no-hover:focus{
  background-color: #eb5f07!important;
  color: white!important;
  background-image: linear-gradient(180deg,#e76d0c 0,#d74b00);
  outline: 0!important;
}

.social-sub{
  box-shadow: inset 0 1px 0 hsla(195.2, 45.5%, 41%, 0.2) !important;
  background:white!important;
  border-radius: 12px!important;
  margin-top: 6px!important;
}

.social-sub > img,
.social-sub > h3 {
  float: left;
  margin:10px;
}

.social-sub > h3 {
  float: left;
  margin-left: 8px;
  margin-top: 15px;
}

.cloz {
  cursor: pointer;
  color: #4d4dff!important;
  font-size: 2rem;
  float: right;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none!important;
}

.branch.social-icon-holder {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  z-index: 100;
  margin: -50px 0 0 10px;
  text-align: center;
}

.branch > i {
  color: white!important;
  display: block;
  height: 90px;
  border-radius: 50%;
  z-index: 101;
  padding: 16px 0;
  font-size: 80px;
}

.branch {
  opacity: 1;
}

/**
 * Stripe
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-element {
  width: 20%;
  border: 1px solid;
}

#submit-payment {
  color:white!important;
  border-radius: 5px;
}

.cards {
  height: 45px;
}

#reg-errors {
  color:red!important;
}
