/* Login / Register page buttons */

.btn-facebook{
    background-color: #4267b2;
    color:#fff
}

a.btn-facebook:hover{

    color:#e6f2ff
}

.btn-facebook > i{
    font-size:18px
}
/* Login page button */
section.social-page{

    position:relative;

    margin-top: 55px;



}

.social-page h2{
    font-size:1.2rem;
}

.social-page h4{
    font-size:0.9rem;
}

/* site colours - START*/


.site-background-1{
    background: blue;
}

.site-background-2{
    background: #4d4dff;
}

.site-color-text-1{
    color: darkblue;
}

.site-color-text-2{
    /*color: #4d4dff;*/
    color: #0080ff;
}

.site-border-color-icon{
    border: 5px solid #6666ff;
}
/* site colours - END */

/** MAIN PAGE | START **/

#faq {
    text-align:center
}

#faq .faq-box{
    border:5px solid;
    border-radius:20px;
    padding:10px;
    margin:15px 0;
}
 .faq-row > div{
    display:flex;
}

.faq-people {
    background: url("../img/background/faq-people.jpg" );
    height:290px;
    margin:15px 0 0 0;
}
.intro-points-list li{
    font-size:92%;
}

.intro-points-list i{
    display:inline-block;
    font-size:10px;
    background:#ff6600;
    border-radius: 50%;
    margin:2px 10px 2px 0;
    padding: 5px;
    color:#fff
}

.intro-points-list > ul{
    list-style: none;
    text-align: left;
    padding-left: 5px;
    margin: 10px 0;
}

.intro-sign-up-btn{
    text-align:center;
}

.intro-sign-up-btn button, .what-is-it-btn button{
    background:#ff6600;
    border:1px solid #ff6600;
    border-radius:20px;
    height:80px;
    font-size:30px;
    color:#fff;
    margin: 10px 0;

}

.intro-sign-up-btn button{

    max-width:100%;

}

.what-is-it-btn{
    text-align:center;
}

.what-is-it-btn button{

    width:90%;
}

@media (min-width:768px){
    .intro-points-list i{

        font-size:100%;

    }
    .intro-points-list > ul{

        margin: 30px 0;
    }

    .intro-points-list li{
        font-size:16px;
    }

    .intro-sign-up-btn{
        text-align:left;
    }



    .intro-sign-up-btn button, .what-is-it-btn button{

        margin: 30px 0;

    }
}


.monthly-subs-banner {
    min-height: 50px;
    background: rgba(121, 210, 121, 0.5);
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: 500;
    width: 92%;
    max-width: 510px
}

.monthly-subs-banner p{

    font-size: 10px;
    margin:0;
}



.login-register{
    border: 5px solid;
    border-radius:10px;
    background: transparent;
    margin:0 5px;
    padding:2px;
}

.login-register > a{

    border-radius: 5px;
    color:#fff !important;
    font-weight: 500;
}

.login-register-small{
    border: 3px solid;
    border-radius:6px;
    background: transparent;
    /*margin:0 5px;*/
    padding: 3px;
    line-height: 0.8em;
}

.login-register-small > a{

    border-radius: 4px;
    color:#fff !important;
    font-weight: 500;
    font-size:0.6em;
    padding: 3px 1px;
}

#what-is-it{
    background:#f5f8fa;
    position:relative;
}

.what-is-it .social-icon-holder{
    position: relative;
    height: 140px;
    width:140px;
    border-radius: 50%;
    z-index:3;
    display:inline-block;

}


.what-is-it .social-icon-holder > i{
    display:block;
    position: absolute;
    height: 104px;
    border-radius: 50%;
    z-index:4;
    padding:16px 23px;
    font-size: 100px;


}
/** MAIN PAGE | END **/

/** GLOBAL SITE | START **/


#mainNav .user-display{
    /*color: #fff;*/
    padding: 13px;
    display: inline-block;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.knowso-logo {
    max-height:64px;
}

.last-login{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 1031;
    padding: 22px 0;
    background: #ff5c33;
    color: #f2f2f2;
    font-weight: 600;
    margin: -70px auto 0;
    font-size: 70%;
    text-align: center;
}



/** GLOBAL SITE | END **/

/* SOCIAL SECTIONS - START */
div.profile-data-inner{
    border-radius: 4px;
    height: 68px;
    padding:10px 0;
    overflow: hidden;
    font-size:0.7rem;
    font-weight: 600;
}

div.profile-data-col, div.profile-data-col-high {
    border-radius: 10px;

    padding: 5px 0;
    overflow: hidden;
    font-size:0.9rem;
    font-weight: 600;
}

div.profile-data-col {
    height: 80px;
}

div.profile-data-col-high {
    height: 110px;
}

div.profile-data-col span, div.profile-data-col-high span{

    font-weight: 500;
}

div.profile-data-col-high span{
    display:inline-block;
}

.social-section {
    background:#f2f2f2;
    /*border:1px solid #ccc;*/
    border-radius: 25px;
    margin:40px auto 0;
    padding: 10px;
    position:relative;
}

.col-md-4>.social-section {
    display:none;
}

.social-section > .profile-data{
    padding:0 10px;
}

.social-section > .profile-data > div{
    /*margin:5px 1px;*/

    color:#fff;
    font-size:16px;
    padding:3px;
    text-align:center;
    /*max-width:30% !important;*/
    /*margin: 0 auto;*/

}

.profile-data .fa_none{
    color: #ffcccc
}

.profile-data .fa_found{
    color: #ffcccc
}

.profile-data .fa_warn{
    color: #ffd699
}

/* Other recommendations links */
.profile-data span.other_rec{

    background:#fff;
    border-radius: 50%;
    color: #262626;
    display:inline-block;
    height:76px;
    padding:8% 0;
    width:76px;

}

.other_rec a{
    display: inline-flex;
    line-height: 1rem;
}

.social-section > .avatar{
    margin: 20px auto;
    background: white;
    height: 150px;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    position: relative;

}

@media(max-width:991px){
    .social-section > .avatar > img{
        margin: 0 auto;
        background: white;
        height: auto;
        width: 100%;
        border-radius: 5px;
    }
}
@media(min-width:992px){
    .social-section > .avatar > img{
        margin: 0 auto;
        background: white;
        height: 100%;
    }
}

@media(max-width:576px){
    footer {
        height: 133px;
    }

    footer .quicklinks {
        height: 48px;
        line-height: 18px!important;
    }
}

.alert {
    position: fixed!important;
}

.social-section > .social-icon-holder{
    position: relative;
    height: 120px;
    width:120px;
    border-radius: 50%;
    z-index:100;
    margin:-50px 0 0 10px;
    text-align: center;
}

/*.social-section > .social-icon-holder .social-icon-holder-border{*/

/*}*/

.social-section > .social-icon-holder > i{
    display:block;
    /*position: absolute;*/
    height: 90px;
    border-radius: 50%;
    z-index:101;
    padding:16px 0;
    font-size: 80px;
    color: white;
}

.social-section > .connect-button{
    padding:10px 0;
}

.social-section > .connect-button button{
   width:98%;
    font-size:16px;
}

.social-section > .social-score-holder{
    position: relative;
    height: 140px;
    width:140px;
    border-radius: 50%;
    margin: 10px auto;
    background:#fff;
    text-align:center;
    font-size:24px;
    font-weight:600;
}

.social-score-holder p{
    padding:25px 0;
    color:#8c8c8c;
}

.social-welcome{
    margin:15px 0;
    text-align:center
}

.social-icon-fb{
    background:#4267b2; /* facebook default colour */
}
.social-icon-tw{
    background:#1DA1F2; /* twitter default colour */
}

.social-icon-li{
    background:#0073b1; /* linkedin default colour */
}

.social-icon-ins{
    background:rebeccapurple; /* Sort of Instagram colour! Fix! */
}


@media (min-width:768px){

    div.profile-data-inner{

        font-size:0.8rem;
        padding:6px 0;
    }

    div.profile-data-col{

        font-size:1rem;

    }

    .last-login{

        height: 120px;
        width: 120px;
        padding: 32px 0;
        float:none;
        margin:initial;
        z-index: auto;
        font-size:100%

    }

    .social-page h2{
        font-size:2rem;
    }

    .social-page h4{
        font-size:1.5rem;
    }

    .monthly-subs-banner {

        margin: 0px;
        border-radius: initial;
        width:auto;
        max-width:initial;

    }

    .monthly-subs-banner p{

        font-size: 18px;

    }

    section.social-page{

        /*top:83px;*/
        padding-bottom: 120px;
    }
}

@media (max-width:767px){


    .intro-sign-up-btn button, .what-is-it-btn button{
        border-radius:10px;
        height:40px;
        font-size:15px;
        width:94%;
        margin: 2px 0;
    }

}

@media (max-width:575px){
    .knowso-logo {
        max-height:32px;
    }
}



/* SOCIAL SECTIONS - END */

/* ++ PROD LIST SPECIFIC ++ */

.prod-img-div img{

    width: 200px;
    /* padding:0px;

     margin: 10px 0; */
}
.prod-list-row{
    /* margin: 20px 10px 60px; */
    margin: 10px 5px;
}

.prod-list-row a{
    color:inherit;
    /* padding: 5px */
}

.prod-list-row a:hover{
    text-decoration: none;
}

.prod-link-box{

    border:1px solid #ccc;
    padding: 8px;
    min-height: 350px;
    text-align:center

}



.prod-link-box .btn{
    display:block;
    border-radius: 5px;
    margin-bottom: 10px;
}

a:hover .prod-link-box{
    box-shadow:0px 3px 5px #555;


    transition: box-shadow 0.5s;
}


@media screen and (max-width:991px){
    .prod-img-div{
        text-align:center;

    }

    .prod-link-box > div{
        text-align:center
    }

    .prod-link-box > div > p{
        font-size:16px
    }

    .prod-list-container{
        margin-top: 60px;
    }
}

@media screen and (min-width:992px){
    .prod-apply-div div{
        width: 50%;
        float: right;
    }
}



/* End ++ PROD LIST SPECIFIC ++ */




/* ++ OFFER LIST SPECIFIC ++ */

/*
    .content-bottom-footer{
        font-size:11px
    }
    */

.product-offer-name{
    color:#333333;
    font-weight: 800;
    background: #fff;

    margin: 10px auto;
    width: 100%;
    border: 1px solid #d9d9d9
}

.product-offer-name p{
    margin:inherit;
}
.product-offer-info{
    font-size:11px
}

.product-heading{
    font: 700 18px 'Lato', sans-serif;
}

#tabs-1{font-size: 14px;}

.ui-widget-header {
    background:#b9cd6d;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-tabs .ui-tabs-panel {
    padding:0;
}

.ui-widget-header {
    background: #ccc;
    border: 1px solid #b3b3b3;
    color: #FFFFFF;
    font-weight: bold;
}

#tabs-1 {
    padding:0
}
/* ++ End OFFER LIST SPECIFIC ++ */

/* Social Connection Status | START */

.social_connection_status .facebook-msg-icon{
   color: #4267b2;
    height:1.3rem;
}
.social_connection_status{
    font-size:0.9rem;
}
.social_connection_status img{
    max-height:40px
}
/* Social Connection Status | END */

/* user-analysis page | START */

.user-analysis-section .standard-color{
    background-color: #66b3ff;
    color: #e6f2ff;
}
.user-analysis-section .user-analysis-jumbotron {
    padding: 2rem 1rem;

    border-radius: .3rem;
    font-size:1.3rem;
    margin: 0 auto 3px;
    text-align:center;
}

.user-analysis-jumbotron p {
    line-height: 1.2;
}

.user-analysis-section .user-analysis-jumbotron h4,.user-analysis-section .user-analysis-jumbotron, h3 {
    font-family: Sarala,sans-serif;
}

.user-analysis-jumbotron h3{
    color: #fff0e6
}
.user-analysis {
    font-family:Lato, sans-serif !important;
    font-size:1rem;
}



.user-analysis > .previous-results .btn{
    width:100%;
    margin: 5px 0;
}

.user-analysis .section-heading h4 {
    font-family:Lato, sans-serif !important;
    color: #e6f2ff;
}

.user-analysis .section-heading{
    background: #66b3ff;
    border-radius: 2%;
    margin-bottom: 4px;
    padding: 12px 6px;
}

.user-analysis .section{
    margin-bottom: 4px
}

.user-analysis .btn-next{
    background: #cce6ff;
    width: 100%;
    margin-top: 4px;
}

.user-analysis .btn-next:hover{
    background: #b3daff;
}

.user-analysis .btn-view-prev{
    background: #1a8cff;
    color:#e6f2ff
}

.user-analysis .btn-prev{
    background: #ffe6e6;
    width: 100%;
    margin-top: 4px;
}

.user-analysis .btn-prev:hover{
    background: #ffcccc;
}

.user-analysis .btn-user-home{
    background: #3399ff;
    /*margin:4px 0;*/
    width: 100%;

}

.btn-analysis-input{
    font-family:Lato, sans-serif ;
    width:33%;
    right:6px;
    position:absolute;
    background:#fff;
    color: #495057;
    border: 2px solid #e6e6e6;
    border-radius: 18px;
}

.btn-analysis-input:hover {
    color: #212529;
    background-color: #ccffcc;
    border-color: #00cc00;
}
.btn-analysis-submit{
    background:#b3ffb3;
    width:100%;
}

.user-analysis .checkbox-hidden{

    visibility:hidden

}

.user-analysis .input-group-analysis{  /* Holds the Selection buttons */
    padding:10px;
    position: relative;
    border:0;
    background:#fff;

    border-bottom: 3px solid #ced4da;
    height:60px;

}

.results-more{
    /*padding: 12px;*/

}

.card-analysis {

    padding: 6px;
    border: 3px solid #1a1a1a;
    border-radius: 10px;

}

.card-analysis > .card-title{

    font-size:1.3rem;
    font-weight: 600;
}

.card-analysis a{
    color: #d8ecf3;
}

.card-analysis > .card-body{
    border: 2px solid #000;
    border-radius: 10px;
}

.analysis-score, .temperament-score{
    display:inline-block;float:right;
    font-size:1.1rem;
}

.score-info-analysis {
    animation-delay: 0.8s;
    color:#ffc;
    overflow:hidden
}
@media (max-width: 767px){

    .user-analysis-section .user-analysis-jumbotron {
        width:90%
    }
    .user-analysis {

        padding: 0;
    }

    .user-analysis > .previous-results .btn{
        width:90%;

    }

    .previous-results{
        text-align: center;
    }
}

.modal .temp-modal-content a{
    color:#cce5ff;
}

.modal .temp-modal-content a:hover{
    color:#e6f2ff
}

@media (min-width: 992px){
    .user-analysis {

        margin-top:10px;
    }
}
/* user-analysis page | END */

